.header {}

.header__inner {
    padding: 50px 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 198px;
    height: 37px;
    z-index: 11;
    margin-bottom: 15px;
    display: flex;
    align-items: end;
}

.header__logo img {
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {}

.nav__link {
    font-family: 'Archivo Condensed';
    font-size: 22px;
    font-weight: 600;
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 33px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition)
}

.nav__link:hover::before {
    opacity: 1;
}

.header__actions {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
}

.header__icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon path{
    transition: var(--transition)
}

.header__icon:hover path{
    fill: var(--accent-color);
}

.header__icon img {
    width: 100%;
}

.basket {
    width: 44px;
    height: 33px;
}

.search {
    width: 29px;
    height: 29px;
}

.header__icon svg {
    width: 100%;
    height: 100%;
}

.header__burger {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.header__burger img {
    width: 100%;
}


.header__border,
.footer__border {
    margin: 0 auto;
    max-width: 1420px;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.5;
    margin-top: 30px;
}