@import 'fonts.css';
@import 'reset.css';
@import 'global.css';

@import 'header.css';
@import 'footer.css';

.main {}

.hero {
    padding-top: 76px;
    position: relative;
    overflow: hidden;
}

.hero__top {
    position: relative;
    height: auto;
    min-height: 300px;
    padding-bottom: 20px;
}

.hero__title {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 100%;
}

.hero__main-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 2;
    font-size: clamp(80px, 9.7vw, 167px);
    line-height: 1.1;
    margin: 0 0 -20px 35px;
    max-width: 90%;
}

.hero__stroke {
    position: absolute;
    top: 65px;
    left: 32%;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    font-size: clamp(150px, 17.5vw, 300px);
    font-weight: 600;
    white-space: nowrap;
}

.hero__bg {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -40px;
}

.hero__bg img {
    width: 100%;
    height: auto;
    display: block;
}

.hero__arrow {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 47%;
    transform: translateY(-50%);
    background: var(--accent-color);
    width: clamp(70px, 5.8vw, 100px);
    height: clamp(70px, 5.8vw, 100px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.hero__arrow:hover {
    transform: translateY(-50%) scale(0.9);
    box-shadow: 0 15px 30px rgba(134, 6, 6, 0.3);
}



.hero__cards {
    position: relative;
    margin-top: -6%;
    z-index: 3;
    cursor: pointer;
}

.hero__cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    position: relative;
}

.hero__cards-item {
    padding: clamp(30px, 3.3vw, 56px) clamp(30px, 3.9vw, 67px) clamp(30px, 3.1vw, 53px) clamp(30px, 3.3vw, 56px);
    width: 100%;
    min-height: clamp(250px, 23vw, 396px);
    background: #E3E3DE;
    transition: all .5s;
    display: flex;
    flex-direction: column;
}

.hero__cards-item:hover {
    background: var(--accent-color);
    transform: translateY(-5px);
}

.hero__cards-title {
    color: var(--accent-color);
    font-size: clamp(16px, 1.2vw, 20px);
    letter-spacing: 4px;
    margin-bottom: 4px;
    transition: color .5s;
}

.hero__cards-item:hover .hero__cards-title {
    color: var(--body-color);
}

.hero__cards-text {
    color: var(--body-bg);
    font-family: 'Oswald', sans-serif;
    font-size: clamp(28px, 2.4vw, 42px);
    font-weight: 600;
    margin-bottom: auto;
}

.hero__cards-link {
    color: var(--body-bg);
    line-height: .23;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero__cards-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------------- */

.about {
    display: grid;
    grid-template-areas: "content";
    position: relative;
}

.about__bg {
    padding: 117px 0 0 500px;
    z-index: 1;
    grid-area: content;
    position: relative;
}

.protein-container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 145px 0;
    height: 100%;
    grid-area: content;
    z-index: 2;
    position: relative;
    overflow: visible;
    width: 100%;

}

.about {}

.about__inner {
    display: grid;
    grid-template-columns: 510px 1fr;
    gap: 20px;
    padding: 25px;
}

.about__text {
    max-width: 510px;
    width: 100%;
}

.about__text-title {
    font-family: 'Oswald';
    font-size: 120px;
    font-weight: 600;
    margin-bottom: 17px;
    color: var(--body-color);
}

.about__text-title span {
    color: var(--accent-color);
}

.about__text-subtitle {
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about__text-text {
    color: #979797;
    line-height: 27px;
}

.about__text-text:nth-child(3) {
    margin-bottom: 40px;
}

.button-read-more {
    font-size: 20px;
    font-weight: 500;
    background: var(--accent-color);
    border-left: 3.5px solid var(--body-color);
    color: var(--body-color);
    font-weight: bold;
    padding: 23px 61px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s;
}

.button-read-more:hover {
    background: var(--body-color);
    color: var(--accent-color);
    border-left: 3.5px solid var(--accent-color);
}

.about__text-text:nth-child(5) {
    margin-bottom: 103px;
}

.about__protein {
    position: relative;
    overflow: visible;
}

.about__protein-img {
    position: relative;
    width: 476px;
    height: 679px;
}

.about__protein-img img {
    width: 100%;
}

.about__protein-stats {
    position: absolute;
    top: 240px;
    left: -157px;
}

.about__protein-stats-white {
    background: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px 52px;
    max-width: 176px;
}

.about__protein-stats-orange {
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px 52px;
    max-width: 176px;
}

.about__protein-stats-white p:nth-child(1) {
    font-family: 'Oswald';
    color: var(--body-bg);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
}

.about__protein-stats-white p:nth-child(2) {
    color: #979797;
    line-height: 27px;
}

.about__protein-stats-orange p:nth-child(1) {
    font-family: 'Oswald';
    color: var(--body-bg);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
}

.about__protein-stats-orange p:nth-child(2) {
    color: var(--body-bg);
    line-height: 27px;
}

.about__protein-icon {
    position: absolute;
    top: 67px;
    left: 369px;
    width: 158px;
    height: auto;
}

.about__protein-icon img {
    max-width: 100%;
}

.swiper-container-vertical {
    width: 100%;
    height: 700px;
    max-height: 100vh;
    padding-right: 200px;
    padding-left: 150px;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}


.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    overflow: visible;
}

.swiper-pagination-vertical {
    position: absolute !important;
    right: -50px !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 54px !important;
    z-index: 10;
}

.swiper-pagination-bullet {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 14px !important;
    height: 14px !important;
    background: var(--body-color) !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    position: relative !important;
    transition: all .5s !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: var(--body-bg) !important;
    color: var(--body-color) !important;
    transform: scale(1.1) !important;
    font-weight: 400 !important;
    font-size: 21px !important;
    width: 24px !important;
    height: 24px !important;
}

.swiper-pagination-bullet-active::after {
    content: "" !important;
    position: absolute !important;
    width: 74px !important;
    height: 74px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 50% !important;
    border: 5px solid var(--accent-color) !important;
    transition: var(--transition) !important;
    z-index: -1 !important;
}

.swiper-pagination-vertical .swiper-pagination-bullet {
    margin: 0 !important;
}

/* --------------------- */
.categories {
    position: relative;
    overflow: hidden;
}

.container-categories {}

.categories__title {
    background: var(--body-color);
    padding: 35px 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    white-space: nowrap;
    color: #000;
    font-family: 'Oswald';
    font-size: 100px;
    font-weight: 400;
    z-index: 10;
    overflow: hidden;
}

.categories__title-scroll {
    display: flex;
    align-items: center;
    gap: 82px;
    animation: marquee 23s linear infinite;
    padding-left: 20px;
    padding-top: 60px;
}

.categories__title-text {
    position: relative;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0;
}

.categories__title-text::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #F47521;
    border-radius: 50%;
    margin-right: 34px;
    margin-left: -34px;
    vertical-align: middle;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.categories__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.categories__card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    transition: all .5s;
}

.categories__card:hover {
    transform: translateY(-2px);
    color: var(--body-color);
}

.categories__card:hover .categories__card-buttons {
    background: var(--accent-color);
    color: var(--body-color);
}

.categories__card svg path {
    transition: var(--transition);
}

.categories__card:hover svg path {
    stroke: var(--body-color);
}

.categories__card-img {
    height: 800px;
    flex-grow: 1;
    object-fit: contain;
    display: block;
    transition: all .5s;
}

.categories__card-img img {
    width: 100%;
}

.categories__card:hover .categories__card-img {
    transform: scale(1.04);
    filter: brightness(0.8);
}

.categories__card-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 143px;
    padding: 10px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--body-bg);
    font-weight: 700;
    letter-spacing: 1.6px;
    background: var(--bg-light);
    transition: all .5s;
    flex-shrink: 0;
}

.categories__card-link {
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1.6px;
}

/* --------------------- */

.programs {
    position: relative;
}

.program__bg {
    position: absolute;
    z-index: -1;
    top: 117px;
    left: 80px;
}

.program__bg-title {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.program-container {
    padding: 103px 155px;
}

.program__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 86px;
}

.program__top-title {
    font-family: 'Oswald';
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}

.program__top-subtitle {
    color: #979797;
    line-height: 27px;
    text-align: center;
    max-width: 450px;
}

.program__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 43px;
}

.program__item {
    cursor: pointer;
}

.program__item-img {
    position: relative;
    display: inline-block;
}

.program__item-img img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 117, 33, 0.5);
    opacity: 0;
    transition: var(--transition);
}

.program__progress-line {
    width: 100%;
    height: 4px;
    background: #7C7C7C;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.program__progress-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--accent-color);
    transition: var(--transition);
}

.program__item:hover .program__progress-line::after {
    width: 100%;
}

.program__item:hover .overlay {
    opacity: 0.6;
}

.program__list-subtitle {
    display: flex;
    margin-top: 34px;
    margin-bottom: 10px;
    color: #F47521;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
}

.program__list-subtitle p:nth-child(2)::before {
    content: '';
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--body-color);
}

.program__list-day {
    font-family: 'Oswald';
    font-size: 42px;
    font-weight: 500;
}

.button-big {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    cursor: pointer;
    height: 108px;
    color: var(--body-bg);
    background: var(--accent-color);
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1.6px;
    transition: var(--transition);
}

.button-big svg path {
    transition: var(--transition);
}

.button-big:hover {
    color: var(--body-color);
}

.button-big:hover svg path {
    stroke: var(--body-color);
}

.button-big svg {
    vertical-align: middle;
}

/* -------------------- */

.testimonial__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

}

.testimonial__inner-one {}

.testimonial__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 158px;
    z-index: 10;
}

.testimonial__icon img {
    width: 100%;
}

.testimonial__inner-two {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial__inner-two:nth-child(2) {
    position: relative;
}

.testimonal__inner-icon {
    position: absolute;
    top: 15px;
    z-index: 5;
    max-width: 100px;
    margin-bottom: 55px;

}

.testimonial__inner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.testimonial__inner-img img {}

.testimonial-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(114, 50, 7, 0.50);
    backdrop-filter: blur(12px);
}

.testimonial__inner-info {
    position: absolute;
    z-index: 10;
}

.testimonial__inner-title {
    margin-top: 55px;
    text-align: center;
    font-family: 'Oswald';
    font-size: 55px;
    line-height: 70px;
    max-width: 586px;
}

.testimonial__inner-quote {}

.testimonial__inner-line {
    max-width: 83px;
    height: 3px;
    background: var(--accent-color);
    margin: 42px auto 0 auto;
}

.testimonial__inner-author {
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
    margin-top: 65px;
}

.testimonial__inner-author-name {
    margin-top: 11px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

/* -------------------- */

.info {
    background: var(--bg-light);
    margin: 0 15px;
}

.info__inner {
    padding: 165px 100px;
}

.info__tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tabs {}

.info__tabs-buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 100px;
    white-space: nowrap;
}

.info__tabs-button {
    position: relative;
    background: transparent;
    color: var(--body-bg);
    font-family: 'Oswald';
    font-size: 100px;
    font-weight: 600;
    opacity: 0.3;
    z-index: 1;
    transition: var(--transition);
}

.info__tabs-button::before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: translateX(-43%) scale(0.8);
    width: 145px;
    height: 145px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.info__tabs-button.active {
    opacity: 1;
}

.info__tabs-button.active::before {
    transform: translateX(-43%) translateY(0%) scale(1);
    opacity: 1;
}

.active {}

.info__tabs-content {
    padding-left: 160px;
    align-self: center;
}

.info-tab-content {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: var(--transition);
    position: absolute;
}

.info-tab-content.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    position: relative;
}

.info__content {
    margin-bottom: 40px;
}

.info__content:last-child {
    margin-bottom: 0;
}

.info__content.active {
    display: block;
}

.info__content-title {
    color: var(--body-bg);
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.info__content-text {
    margin-bottom: 50px;
    color: #979797;
    line-height: 27px;
    max-width: 400px;
}

.info__content[data-content="3"] .info__content-text {
    margin-bottom: 0;
}

.info__bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: -17px;
}

.info__bottom-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    height: 480px;
}

.info__bottom-col:first-child {
    border-left: none;
}

.info__bottom-col:last-child {
    border-right: none;
}

.info__bottom-sum {
    color: var(--body-bg);
    text-align: center;
    font-family: 'Oswald';
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 6px;
}

.info__bottom-text {
    color: var(--body-bg);
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}


/* -------------------- */

.timetable {
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.timetable__bg {
    position: absolute;
    right: 50px;
    clip-path: inset(60px 0 100px 0);
}

.timetable__wrapper {
    max-width: 100%;
    padding: 103px 0 146px 0;
    margin: 0 auto;
}

.timetable h2 {
    font-family: 'Oswald';
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 67px;
    white-space: wrap;
}

.filter-tabs {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.tab {
    background: transparent;
    border: none;
    color: var(--body-color);
    opacity: 0.3;
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    transition: var(--transition);
    letter-spacing: 1px;
    position: relative;
}

.tab.active {
    color: var(--body-color);
    opacity: 1;
}

.tab.active::before {
    opacity: 1;
}

.tab::before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: translateX(-45%) translateY(5%) scale(0.8);
    width: 41px;
    height: 41px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.tab:not(.active):hover {
    color: var(--accent-color);
}

.table-scroll-container {
    overflow-x: auto;
    width: 100%;
}

.table-scroll-container::-webkit-scrollbar {
    height: 5px;
}

.table-scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.table-scroll-container::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
    transition: var(--transition);
}

.table-scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    color: #B5B5B5;
    font-size: 20px;
}

.schedule-table tbody[data-tab-content] {
    display: none;
}

.schedule-table tbody.active {
    display: table-row-group;
}

.schedule-table__top th {
    font-family: 'Oswald';
    font-weight: 400;
    padding: 35px 45px !important;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #787878;
    padding: 15px;
}

.schedule-table th {
    font-size: 20px;
    letter-spacing: 1px;
    color: #B5B5B5;
    border-top: none;
    border-left: none;
}

.schedule-table th:last-child {
    border-right: none;
}

.schedule-table tbody tr td {
    border-left: none;
}

.schedule-table tbody tr td:last-child {
    border-right: none;
}

.schedule-table tbody tr td:nth-child(6) {
    border-bottom: none;
}

.schedule-table td {
    height: 100px;
}

.time-cell {
    font-size: 20px;
    color: #B5B5B5;
}

.timetable__bottom td {
    border-bottom: none;
}

.class-card {
    color: var(--body-color);
}

.class-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.instructor-name {
    font-family: 'Archivo Condensed';
    color: #979797;
    line-height: 27px;
}

/* -------------------- */

.exercise-lightbox {}

.big-container {}

.exercise-lightbox__inner {
    position: relative;
}

.exercise-lightbox__video {}

.exercise-lightbox__video-img {
    width: 100%;
}

.exercise-lightbox__control {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exercise-lightbox__control-button {
    padding: 10px;
    transform: translateX(10%);
}


/* -------------------- */

.blog {}

.big-container {}

.blog__inner {
    padding: 160px 15px;
    background: var(--bg-light);
    display: flex;
    justify-content: end;
    gap: 100px;
}

.blog__info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.blog__title {
    color: var(--body-bg);
    font-family: 'Oswald';
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 320px;
    line-height: 1.3;
}

.blog__button {
    white-space: nowrap;
    border-left: 3.5px solid var(--body-bg);
    max-width: 213px;
}

.blog__list {
    display: flex;
    justify-content: end;
    gap: 35px;
}

.blog__card {
    border-bottom: 2px solid #7C7C7C;
}

.blog__img {
    width: 100%;
    margin-bottom: 25px;
}

.blog__card-info {}

.content__blog-data {
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #8b8a8a;
    margin-bottom: 10px;
}

.content__blog-title {
    font-family: 'Archivo Condensed';
    font-weight: 600;
    font-size: 24px;
    color: var(--body-bg);
    padding-bottom: 29px;
    max-width: 312px;
}

/* -------------------- */

@media (max-width: 1500px) {
    .testimonial__inner-title {
        margin-top: 55px;
        font-size: 47px;
    }

    /* ------------------- */
    .info__inner {
        padding-bottom: 60px;
    }

    .info__tabs-buttons {
        padding-left: 0;
    }

    .info__tabs-button {
        font-size: 80px;
    }

    .info__tabs-button::before {
        transform: translateX(-43%) translateY(-6%) scale(0.8) !important;
    }

    .info__tabs-content {
        padding-left: 60px;
    }

    .info__content-text {
        max-width: 350px;
    }

    .info__bottom-col {
        height: 280px;
    }

    /* -------------------- */

    .blog__inner {
        padding: 80px 0;
        gap: 80px;
    }
}

@media (max-width: 1400px) {
    .hero__arrow {
        display: none;
    }

    /* ---------------- */

    .about__text-title {
        font-size: 100px;
        font-weight: 500;
    }

    .swiper-container-vertical {
        padding-right: 200px;
        padding-left: 144px;
        margin-left: auto;
    }

    .swiper-pagination-vertical {
        position: static !important;
        display: flex !important;
        justify-content: end;
        align-items: center !important;
        flex-direction: row !important;
        gap: 54px !important;
        margin-right: -220px;
        margin-top: 80px !important;
        transform: none !important;
    }

    /* ------------------- */

    .blog__title {
        margin-bottom: 290px;
    }
}

@media (max-width:1330px) {
    .program-container {
        padding: 103px 20px 70px 20px;
    }

    .program__list-day {
        font-size: 35px;
    }

    /* -------------------- */

    .testimonial__inner-title {
        margin-top: 120px;
    }

    /* --------------------- */

    .blog__title {
        margin-bottom: 260px;
    }

}

@media (max-width: 1300px) {
    .categories__card-img {
        height: 750px;
    }

    /* ---------------- */


    .testimonial__icon {
        max-width: 140px;
    }

    .testimonial__inner-title {
        font-size: 40px;
    }

    /* ------------------ */
    .timetable__bg {
        display: none;
    }

    .timetable__wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filter-tabs {
        gap: 15px 10px;
    }

    /* ------------------ */

    .exercise-lightbox__control {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1257px) {
    .categories__card-img {
        height: 725px;
    }

    /* ------------------ */

    .blog__title {
        margin-bottom: 260px;
    }
}

@media (max-width: 1200px) {
    .about__protein-img {
        max-width: 400px;
        max-height: 500px;
    }

    .about__protein-stats {
        top: 218px;
        left: -110px;
    }


    .about__protein-stats-white,
    .about__protein-stats-orange {
        padding: 20px 28px;
    }

    .about__protein-stats-white p:nth-child(1) {
        font-size: 25px;
    }

    .about__protein-stats-orange p:nth-child(1) {
        font-size: 25px;
    }

    .about__protein-icon {
        top: 57px;
        left: 307px;
        width: 145px;
        height: auto;
    }

    .swiper-container-vertical {
        padding-left: 110px;
    }

    .swiper-pagination-bullet-active {
        width: 20px !important;
        height: 20px !important;
    }

    /* -------------------- */
    .info__tabs-buttons {
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .info__tabs-button::before {
        transform: translateX(-43%) translateY(-3%) scale(0.8) !important;
        width: 100px;
        height: 100px;
    }

    .info__tabs-button {
        font-size: 60px;
    }

    .info__bottom-sum {
        font-size: 80px;
    }

    /* ------------------- */

    .blog__title {
        margin-bottom: 230px;
    }
}

@media (max-width:1150px) {
    .testimonal__inner-icon {
        display: none;
    }

    .testimonial__inner-title {
        margin-top: -70px;
    }

}

@media (max-width: 1100px) {
    .header__logo {
        max-width: 140px;
    }

    .nav__link {
        font-size: 18px;
    }

    .hero__arrow {
        left: 38%;
    }

    /* ------------------- */

    .protein-container {
        padding: 50px 0 100px 0;
    }

    .about__bg {
        display: none;
    }

    .about__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 20px;
        flex-direction: column;
        gap: 40px;
    }

    .about__text-text {
        padding: 0 40px;
        font-size: 18px;
        line-height: 1.5;
    }

    .about__text {
        max-width: 100%;
    }

    .about__text-title,
    .about__text-subtitle,
    .about__text-text {
        text-align: center;
    }

    .about__text-text:nth-child(5) {
        margin-bottom: 35px;
    }

    .button-read-more {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 213px;
        max-height: 76px;
        margin: 0 auto;
        white-space: nowrap;
    }

    .swiper-container-vertical {
        padding-right: 50px;
        padding-left: 50px;
        height: 600px;
    }

    .swiper-pagination-vertical {
        position: static !important;
        margin: 0 auto !important;
    }

    .about__protein-img {
        max-width: 400px;
        max-height: 500px;
        margin: 0 auto;
    }

    .about__protein-stats {
        top: 218px;
        left: -12.5%;
        transform: translateX(-50%);
    }

    /* --------------------- */

    .categories__title-scroll {
        animation: marquee 11s linear infinite;
    }

    .categories__card-img {
        height: 680px;
    }

    /* ------------------ */

    .testimonial__icon {
        display: none;
    }

    .testimonial__inner-title {
        margin-top: 0px !important;
    }

    /* ----------------- */

    .blog__inner {
        padding: 80px 15px !important;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .blog__title {
        margin-bottom: 30px;
    }

    .blog__list {
        width: 100%;
        justify-content: center;
        gap: 30px;
    }

    /* ----------------- */
}

@media (max-width:1000px) {
    .container-categories {
        padding: 0 15px;
    }

    .categories__inner {
        grid-template-columns: 1fr;
        gap: 1px;
    }

    .categories__card-img {
        object-fit: cover;
        object-position: top;
    }

    .categories__title {
        margin: 0 15px;
        top: -60px;
        font-size: 70px;
    }

    .categories__title-scroll {
        gap: 50px;
        animation: marquee 10s linear infinite;
    }

    .categories__title-text::before {
        width: 10px;
        height: 10px;
        margin-right: 20px;
        margin-left: -20px;
    }

    /* ---------------------- */

    .info__tabs-buttons {
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-left: 0px;
    }

    .info__tabs-button {
        font-size: 50px;
    }

    .info__tabs-button::before {
        transform: translateX(-50%) translateY(-8%) scale(0.8) !important;
    }

    .info__bottom-col {
        height: 180px;
        padding-top: 30px;
        justify-content: start;
    }

    .info__bottom-text {
        font-size: 16px;
    }

    /* --------------------- */


    /* --------------------- */

    .footer__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .footer__col {
        display: contents;
    }

    .footer__location {
        padding-left: 90px;
    }

    .footer__schedule {
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
        max-width: 100%;
    }
}

@media (max-width:980px) {
    .program-container {
        padding: 70px 20px;
    }

    .program__bg-title,
    .program__bg {
        display: none;
    }

    .program__top {
        margin-bottom: 50px;
    }

    .program__list {
        grid-template-columns: 1fr;
        gap: 43px;
    }

    .program__item {
        margin: 0 auto;
    }

    .program__top-subtitle {
        white-space: initial;
    }

    .program__list-day {
        font-size: 30px;
    }
}

@media (max-width:900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--body-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 26vh 15px 30px;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;

        transition: all .5s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .nav__link {
        font-size: 30px;
    }


    .body--opened-menu .burger-icon {
        transform: rotate(90deg);
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
        transition: all .5s;
        width: 30px;
        height: 30px;
    }

    /* --------------------- */

    .hero__main-text {
        font-size: clamp(70px, 11vw, 120px);
        margin-left: 25px;
    }

    .hero__stroke {
        left: 28%;
        top: 50px;
        font-size: clamp(120px, 20vw, 200px);
    }

    .hero__arrow {
        left: 35%;
    }

    .hero__cards {
        margin-top: -4%;
    }

    .hero__cards-item {
        padding: 25px;
    }

    .hero__cards-grid {
        grid-template-columns: 1fr;
        gap: 1px;
    }

    .hero__cards-arrow img {
        width: 27px;
        height: 27px;
    }

    /* ------------------- */

    .testimonial__inner {
        grid-template-columns: 1fr;
    }

    .testimonial__inner-one {
        display: none;
    }

    .testimonial__icon {
        display: none;
    }

    .testimonal__inner-icon {
        display: block;
        padding-top: 50px;
    }

    .testimonial__inner-title {
        margin-top: 0px;
    }

    .testimonial__inner-line {
        margin-top: 80px;
    }


    /* -------------------- */
    .testimonial__inner-two {
        min-height: 500px;
    }

    .testimonial__inner-title {
        margin-top: 150px !important;
    }

    /* ---------------------- */

    .about__text-title {
        font-size: 80px;
    }

    /* ------------------- */

    .footer__path {
        font-size: 40px;
    }

    .footer__path::before {
        width: 65px;
        height: 65px;
    }

    /* ---------------- */

    .footer__contact-mail {
        font-size: 37px;
    }

    .footer__contact-tel {
        font-size: 37px;
    }

    .footer__city-name {
        font-size: 37px;
    }

    .footer__schedule-day {
        font-size: 37px;
    }

    /* -------------- */

    .button-big {
        gap: 20px;
        height: 85px;
    }

    /* -------------- */

    .copyright {
        height: 67px;
    }

    .copyright p {
        margin: 28px 50px;
    }

}

@media (max-width: 850px) {
    .info__inner {
        padding-left: 0;
        padding-right: 0;
    }

    .info__tabs {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .info__tabs-buttons {
        padding: 0 30px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .info__tabs-button {
        font-size: 30px;
    }

    .info__tabs-button::before {
        transform: translateX(-40%);
        width: 60px;
        height: 60px;
    }

    .info__tabs-content {
        padding: 0;
    }

}

@media (max-width:800px) {
    .info__bottom-sum {
        font-size: 60px;
    }

    /* ----------------- */
    .exercise-lightbox__control {
        width: 80px;
        height: 80px;
    }

    .exercise-lightbox__control-button img {
        width: 30px;
        height: 50px;
    }
}

@media (max-width: 770px) {
    .categories__card-img {
        height: auto;
    }

    .categories__title {
        font-size: 50px;
        top: -50px;
    }

    .categories__card-buttons {
        height: 120px;
        padding: 10px 30px;
    }

    /* --------------------- */

    .testimonial__inner-title {
        margin-top: 200px !important;
    }

    .testimonial__inner-line {
        margin-top: 35px;
    }

    /* ------------------- */

    .info__content-title {
        font-size: 20px;
    }

    .info__bottom {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin: -17px;
    }
}

@media (max-width: 680px) {
    .testimonial__inner-two {
        min-height: 400px;
    }

    .testimonial__inner-title {
        font-size: 32px !important;
        margin-top: 100px !important;
    }

    .testimonal__inner-icon {
        max-width: 80px;
        padding-top: 30px;
    }

    .testimonial__inner-line {
        margin: 30px auto 0 auto;
        max-width: 60px;
    }

    .testimonial__inner-author {
        font-size: 16px;
        margin-top: 40px;
        padding: 0 15px;
    }

    .testimonial__inner-author-name {
        font-size: 24px;
        margin-top: 8px;
        padding: 0 15px;
    }

    /* ------------------------ */

    .exercise-lightbox__control {
        width: 60px;
        height: 60px;
    }

    .exercise-lightbox__control-button img {
        width: 25px;
        height: 45px;
    }
}

@media (max-width:690px) {
    .about__protein-img {
        max-width: 380px;
    }

    .about__protein-stats {
        top: 205px;
        left: -11.5%;
    }

    .about__protein-stats-white p:nth-child(1) {
        font-size: 23px;
    }

    .about__protein-stats-orange p:nth-child(1) {
        font-size: 23px;
    }

    .about__protein-stats-white,
    .about__protein-stats-orange {
        padding: 17px 23px;
    }

    .about__protein-icon {
        top: 66px;
        left: 292px;
        width: 145px;
        height: auto;
    }

    /* ----------------- */

    .categories__title-scroll {
        gap: 35px;
        animation: marquee 10s linear infinite;
    }

    .categories__card-buttons {
        height: 85px;
        padding: 10px 20px;
    }

    /* ----------------- */

    .footer__logo {
        align-self: center;
    }
}

@media (max-width:640px) {
    .hero__top {
        min-height: 200px;
    }

    .hero__main-text {
        font-size: clamp(60px, 15vw, 80px);
        font-weight: 500;
        margin-left: 20px;
    }

    .hero__stroke {
        left: 20%;
        top: 35px;
        font-size: clamp(100px, 25vw, 150px);
    }

    .hero__arrow {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero__cards {
        margin-top: -3%;
    }

    /* --------------------- */


    .program__top-title {
        font-size: 60px;
    }

    /* --------------------- */



    .footer__top {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .footer__logo {
        margin: 0 auto;
        max-width: 150px;
    }

    .footer__path {
        font-size: 30px;
    }

    .footer__path::before {
        width: 55px;
        height: 55px;
        top: -7px;
        left: -25px;
    }


    .footer__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer__contact,
    .footer__location,
    .footer__schedule {
        align-items: center;
    }

    .footer__contact {
        order: 3;
    }

    .footer__location {
        order: 1;
    }

    .footer__schedule {
        order: 2;
    }

    .footer__location {
        justify-self: center;
        text-align: center;
        padding-left: 0;
        max-width: 100%;
    }

    .footer__schedule {
        justify-self: center;
        text-align: center;
        max-width: 100%;
    }

    .footer__contact-title {
        font-size: 20px;
    }

    .footer__contact-mail,
    .footer__contact-tel {
        font-size: 30px;
    }

    .footer__socials-title {
        text-align: center;
    }

    .footer__socials-list {
        display: flex;
        gap: 30px;
    }

    /* -------------- */

    .copyright p {
        margin: 28px 20px;
        font-size: 14px;
    }

}

@media (max-width:600px) {
    .basket {
        width: 35px;
        height: 25px;
    }

    .search {
        width: 23px;
        height: 23px;
    }

    .burger-icon {
        width: 25px;
        height: 25px;
    }

    /* ----------------- */

    .protein-container {
        padding-bottom: 50px;
    }

    .about__text-title {
        font-size: 85px;
        margin-bottom: 20px;
    }

    .about__text-text:nth-child(3) {
        margin-bottom: 25px;
    }

    .button-read-more {
        padding: 18px 55px;
    }

    .about__protein-img {
        max-width: 330px;
    }

    .about__protein-stats {
        top: 178px;
        left: -11.5%;
    }

    .about__protein-icon {
        top: 65px;
        left: 259px;
        width: 130px;
    }

    .about__protein-stats-white,
    .about__protein-stats-orange {
        padding: 10px 15px;
    }

    .swiper-pagination-vertical {
        margin-top: -90px !important;
    }

    /* ------------------ */

    .categories__title {
        font-size: 40px;
        padding: 20px;
        top: -65px;
    }

    .categories__title-scroll {
        gap: 35px;
        animation: marquee 10s linear infinite;
    }

    .categories__card-buttons {
        height: 90px;
        padding: 10px 20px;
    }

    /* ----------------- */

    .blog__inner {
        padding: 60px 15px !important;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .blog__title {
        text-align: center;
        margin-bottom: 20px;
    }

    .blog__list {
        flex-direction: column;
        width: 70%;
        justify-content: center;
        gap: 30px;
    }

    .blog__button {
        gap: 15px;
        height: 60px;
        max-width: 170px;
    }

    /* ----------------- */

    .copyright p {
        margin: 18px 15px;
    }
}

@media (max-width:540px) {
    .protein-container {
        padding-bottom: 50px;
    }

    .about__protein-img {
        max-width: 300px;
    }

    .about__protein-stats {
        top: 162px;
        left: -13.5%;
    }

    .about__protein-icon {
        top: 57px;
        left: 227px;
        width: 125px;
    }

    .swiper-pagination-vertical {
        margin-top: -130px !important;
    }

    /* ------------------- */
    .testimonal__inner-icon {
        display: none;
    }

    .testimonial__inner-title {
        font-size: 28px !important;
        margin-top: 0 !important;
    }

    /* -------------------- */

    .info__bottom-col {
        height: 160px;
        padding-top: 30px;
    }

    .info__bottom-sum {
        font-size: 50px;
    }
}

@media (max-width:515px) {
    .protein-container {
        padding-bottom: 50px;
    }

    .about__protein-img {
        max-width: 280px;
    }

    .about__protein-stats {
        top: 150px;
        left: -14.5%;
    }

    .about__protein-icon {
        top: 60px;
        left: 210px;
        width: 115px;
    }
}

@media (max-width: 500px) {
    .hero__cards-arrow img {
        width: 23px;
        height: 23px;
    }

    /* ---------------------- */

    .protein-container {
        padding-bottom: 50px;
    }

    .about__protein-img {
        max-width: 230px;
    }

    .about__protein-stats {
        top: 130px;
        left: -15.5%;
    }

    .about__protein-icon {
        top: 50px;
        left: 172px;
        width: 100px;
    }

    .about__protein-stats-white,
    .about__protein-stats-orange {
        padding: 5px 10px;
    }

    .about__protein-stats-white p:nth-child(1) {
        font-size: 15px;
    }

    .about__protein-stats-orange p:nth-child(1) {
        font-size: 15px;
    }

    .swiper-slide {}

    .swiper-pagination-vertical {
        margin-top: -245px !important;
    }

    .swiper-pagination-bullet-active::after {
        width: 60px !important;
        height: 60px !important;
    }
    

    /* ---------------------- */

    .categories__title-scroll {
        animation: marquee 7s linear infinite !important;
    }

    /* ---------------------- */

    .exercise-lightbox__control {
        width: 50px;
        height: 50px;
    }

    .exercise-lightbox__control-button img {
        width: 20px;
        height: 40px;
    }

    /* ---------------------- */

    .blog__inner {
        padding: 35px 15px !important;
        gap: 50px;
    }

    .blog__title {
        font-size: 55px;
    }

    /* ---------------------- */

    .copyright {
        height: 67px;
        line-height: 24px;
    }

    .copyright p {
        padding: 0 40px;
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width:480px) {
    .categories__card-img {
        height: auto;
    }

    .categories__title {
        font-size: 30px;
    }

    .categories__title-text::before {
        margin-left: -10px;
    }

    .categories__title-scroll {
        gap: 25px;
    }

    /* ---------------------- */

    .testimonial__inner-title {
        padding: 0 10px;
    }

    .testimonal__inner-icon {
        max-width: 70px;
        padding-top: 20px;
    }

    .testimonial__inner-line {
        margin: 50px auto 0 auto;
    }

    .testimonial__inner-author {
        margin-top: 40px;
    }

    .testimonial__inner-two {
        min-height: 350px;
    }

}

@media (max-width:450px) {
    .hero__top {
        min-height: 180px;
    }

    .hero__main-text {
        margin-left: 15px;
        font-size: clamp(50px, 13vw, 70px);
        max-width: 85%;
    }

    .hero__stroke {
        left: 15%;
        top: 20px;
        font-size: clamp(80px, 20vw, 120px);
    }

    /* ----------------------- */
    .categories__card-buttons {
        height: 80px;
        padding: 0 10px;
    }

    /* ----------------------- */

    .testimonial__inner-title {
        margin-top: 20px !important;
    }

    .testimonial__inner-line {
        margin: 10 px auto 0 auto;
    }

    /* ----------------------- */

    .tab {
        font-size: 25px;
    }

    /* ------------------------ */

    .timetable h2 {
        font-size: 60px;
    }

    /* -------------------------- */

    .blog__list {
        width: 90%;
    }

    /* ------------------------ */

    .footer__logo {
        max-width: 150px;
        align-self: center;
    }

    .footer__logo img {
        width: 100%;
        height: auto;
    }

    .footer__path {
        align-items: center;
        font-size: 24px;
    }

    .footer__path::before {
        width: 45px;
        height: 45px;
        top: -5px;
        left: -20px;
    }


    /* ----------------------- */

    .copyright p {
        padding: 0 30px;
        font-size: 12px;
    }

}

@media (max-width:425px) {
    .about__protein-img {
        max-width: 190px;
    }

    .about__protein-stats {
        top: 100px;
        left: -15.5%;
    }

    .about__protein-icon {
        top: 37px;
        left: 142px;
        width: 90px;
    }

    .about__protein-stats-white,
    .about__protein-stats-orange {
        padding: 5px 8px;
    }

    .about__protein-stats-white p:nth-child(1) {
        font-size: 12px;
    }

    .about__protein-stats-orange p:nth-child(1) {
        font-size: 12px;
    }

    .about__protein-stats-white p:nth-child(2) {
        font-size: 15px;
    }

    .about__protein-stats-orange p:nth-child(2) {
        font-size: 15px;
    }

    .swiper-pagination-vertical {
        margin-top: -300px !important;
        gap: 40px !important;
    }

    /* ------------------------ */

    .info__tabs-button {
        font-size: 25px;
    }

    .info__tabs-button::before {
        transform: translateX(-56%);
        width: 50px;
        height: 50px;
    }

    /* ------------------------- */
    .categories__card-buttons {
        height: 80px;
        padding: 10px 20px;
    }
}

@media (max-width: 400px) {
    .testimonial__inner-title {
        margin-top: 0 !important;
    }

    .testimonial__inner-line {
        margin: 30px auto 0 auto !important;
    }

    .testimonial__inner-author {
        margin-top: 25px;
    }

    /* ------------------- */

    .exercise-lightbox__control {
        width: 40px;
        height: 40px;
    }

    .exercise-lightbox__control-button img {
        width: 15px;
        height: 35px;
    }
}

@media (max-width: 350px) {
    .hero__top {
        min-height: 160px;
    }

    .hero__main-text {
        font-size: clamp(40px, 11vw, 60px);
        margin-left: 10px;
    }

    .hero__stroke {
        font-size: clamp(70px, 18vw, 100px);
        top: 15px;
    }

    /* ------------------- */

    .testimonial__inner-title {
        margin-top: 50px !important;
    }

    .testimonial__inner-two {
        min-height: 300px;
    }

    /* ------------------- */

    .copyright {
        height: 55px;
        line-height: 18px;
    }

    .copyright p {
        padding: 0 15px;
        font-size: 11px;
    }
}