@import 'fonts.css';
@import 'reset.css';
@import 'global.css';

@import 'header.css';
@import 'footer.css';

.main {}

.hero {
    padding-top: 76px;
    position: relative;
    overflow: hidden;
}

.hero__top {
    position: relative;
    height: auto;
    min-height: 300px;
    padding-bottom: 20px;
}

.hero__title {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 100%;
}

.hero__main-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 2;
    font-size: clamp(80px, 9.7vw, 167px);
    line-height: 1.1;
    margin: 0 0 -20px 35px;
    max-width: 90%;
}

.hero__stroke {
    position: absolute;
    top: 65px;
    left: 32%;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    font-size: clamp(150px, 17.5vw, 300px);
    font-weight: 600;
    white-space: nowrap;
}

.hero__bg {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -40px;
}

.hero__bg img {
    width: 100%;
    height: auto;
    display: block;
}

.hero__arrow {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 47%;
    transform: translateY(-50%);
    background: var(--accent-color);
    width: clamp(70px, 5.8vw, 100px);
    height: clamp(70px, 5.8vw, 100px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.hero__arrow:hover {
    background: #b85408;
}

.hero__cards {
    position: relative;
    margin-top: -6%;
    z-index: 3;
    cursor: pointer;
}

.hero__cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    position: relative;
}

.hero__cards-item {
    padding: clamp(30px, 3.3vw, 56px) clamp(30px, 3.9vw, 67px) clamp(30px, 3.1vw, 53px) clamp(30px, 3.3vw, 56px);
    width: 100%;
    min-height: clamp(250px, 23vw, 396px);
    background: #E3E3DE;
    transition: all .5s;
    display: flex;
    flex-direction: column;
}

.hero__cards-item:hover {
    background: var(--accent-color);
}

.hero__cards-title {
    color: var(--accent-color);
    font-size: clamp(16px, 1.2vw, 20px);
    letter-spacing: 4px;
    margin-bottom: 4px;
    transition: color .5s;
}

.hero__cards-item:hover .hero__cards-title {
    color: var(--body-color);
}

.hero__cards-text {
    color: var(--body-bg);
    font-family: 'Oswald', sans-serif;
    font-size: clamp(28px, 2.4vw, 42px);
    font-weight: 600;
    margin-bottom: auto;
}

.hero__cards-link {
    color: var(--body-bg);
    line-height: .23;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero__cards-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------------- */

.about {
    display: grid;
    grid-template-areas: "content";
    position: relative;
    min-height: 100vh;
}

.about__bg {
    padding: 117px 0 0 500px;
    z-index: 1;
    grid-area: content;
}

.protein-container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 145px 0;
    height: 100%;
    grid-area: content;
    z-index: 2;
    position: relative;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about__text {
    max-width: 510px;
}

.about__text-title {
    font-family: 'Oswald';
    font-size: 120px;
    font-weight: 600;
    margin-bottom: 17px;
    color: var(--body-color);
}

.about__text-title span {
    color: var(--accent-color);
}

.about__text-subtitle {
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about__text-text {
    max-width: 468px;
    color: #979797;
    line-height: 27px;
}

.about__text-text:nth-child(3) {
    margin-bottom: 40px;
}

.about__text-button {
    font-size: 20px;
    font-weight: 500;
    background: var(--accent-color);
    border-left: 3.5px solid var(--body-color);
    padding: 23px 61px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.about__text-text:nth-child(5) {
    margin-bottom: 103px;
}

.about__protein {
    position: relative;
}

.about__protein-img {
    position: relative;
    margin-left: 110px;
}

.about__protein-stats {
    position: absolute;
    top: 240px;
    left: -132.5px;
}

.about__protein-stats-white {
    background: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px 52px;
    max-width: 142px;
}

.about__protein-stats-orange {
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px 52px;
    max-width: 142px;
}

.about__protein-stats-white p:nth-child(1) {
    font-family: 'Oswald';
    color: var(--body-bg);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
}

.about__protein-stats-white p:nth-child(2) {
    color: #979797;
    line-height: 27px;
}

.about__protein-stats-orange p:nth-child(1) {
    font-family: 'Oswald';
    color: var(--body-bg);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
}

.about__protein-stats-orange p:nth-child(2) {
    color: var(--body-bg);
    font-weight: 400;
    line-height: 27px;
}

.about__protein-icon {
    position: absolute;
    top: 67px;
    left: 369px;
    width: 158px;
    height: auto;
}

.about__protein-icon img {
    max-width: 100%;
}

/* Vertical Swiper Styles */
.swiper-container-vertical {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    /* background: #d53636; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

/* Custom pagination dots */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--accent-color);
}

/* .swiper-slide:nth-child(2n) {
        width: 60%;
    }
    .swiper-slide:nth-child(3n) {
        width: 40%;
    } */

/* -------------------- */
/* -------------------- */

@media (max-width: 1380px) {
    .hero__arrow {
        display: none;
    }
}

@media (max-width: 1100px) {
    .header__logo {
        max-width: 140px;
    }

    .nav__link {
        font-size: 18px;
    }

    .hero__arrow {
        left: 38%;
    }
}

.hero__card-arrow {}

@media (max-width: 1100px) {
    .header__logo {
        max-width: 140px;
    }

    .nav__link {
        font-size: 18px;
    }

}


@media (max-width:1000px) {
    .footer__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .footer__col {
        display: contents;
    }

    .footer__location {
        padding-left: 90px;
    }


    .footer__schedule {
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
        max-width: 100%;
    }
}


@media (max-width:900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--body-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 26vh 15px 30px;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;

        transition: all .5s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .nav__link {
        font-size: 30px;
    }


    .body--opened-menu .burger-icon {
        transform: rotate(90deg);
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
        transition: all .5s;
        width: 30px;
        height: 30px;
    }

    /* --------------------- */

    .hero__main-text {
        font-size: clamp(70px, 11vw, 120px);
        margin-left: 25px;
    }

    .hero__stroke {
        left: 28%;
        top: 50px;
        font-size: clamp(120px, 20vw, 200px);
    }

    .hero__arrow {
        left: 35%;
    }

    .hero__cards {
        margin-top: -4%;
    }

    .hero__cards-item {
        padding: 25px;
    }

    .hero__cards-grid {
        grid-template-columns: 1fr;
        gap: 1px;
    }

    .hero__cards-arrow img {
        width: 27px;
        height: 27px;
    }

    /* ------------------- */

    .footer__path {
        font-size: 40px;
    }

    .footer__path::before {
        width: 65px;
        height: 65px;
    }

    /* ---------------- */

    .footer__contact-mail {
        font-size: 37px;
    }

    .footer__contact-tel {
        font-size: 37px;
    }

    .footer__city-name {
        font-size: 37px;
    }

    .footer__schedule-day {
        font-size: 37px;
    }

    /* -------------- */

    .copyright {
        height: 67px;
    }

    .copyright p {
        margin: 28px 50px;
    }

}

@media (max-width:690px) {
    .footer__logo {
        align-self: center;
    }
}

@media (max-width:640px) {
    .hero__top {
        min-height: 200px;
    }

    .hero__main-text {
        font-size: clamp(60px, 15vw, 80px);
        font-weight: 500;
        margin-left: 20px;
    }

    .hero__stroke {
        left: 20%;
        top: 35px;
        font-size: clamp(100px, 25vw, 150px);
    }

    .hero__arrow {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero__cards {
        margin-top: -3%;
    }

    .footer__top {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .footer__logo {
        margin: 0 auto;
        max-width: 150px;
    }

    .footer__path {
        font-size: 30px;
    }

    .footer__path::before {
        width: 55px;
        height: 55px;
        top: -7px;
        left: -25px;
    }

    /* --------------------- */

    .footer__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer__contact,
    .footer__location,
    .footer__schedule {
        align-items: center;
    }

    .footer__contact {
        order: 3;
    }

    .footer__location {
        order: 1;
    }

    .footer__schedule {
        order: 2;
    }

    .footer__location {
        justify-self: center;
        text-align: center;
        padding-left: 0;
        max-width: 100%;
    }

    .footer__schedule {
        justify-self: center;
        text-align: center;
        max-width: 100%;
    }

    .footer__contact-title {
        font-size: 20px;
    }

    .footer__contact-mail,
    .footer__contact-tel {
        font-size: 30px;
    }

    .footer__socials-title {
        text-align: center;
    }

    .footer__socials-list {
        display: flex;
        gap: 30px;
    }

    /* -------------- */

    .copyright p {
        margin: 28px 20px;
        font-size: 14px;
    }

}

@media (max-width:600px) {
    .basket {
        width: 35px;
        height: 25px;
    }

    .search {
        width: 23px;
        height: 23px;
    }

    .burger-icon {
        width: 25px;
        height: 25px;
    }

    /* ----------------- */

    .copyright p {
        margin: 18px 15px;
    }
}

@media (max-width: 500px) {
    .hero__cards-arrow img {
        width: 23px;
        height: 23px;
    }

    /* ---------------------- */
    .copyright {
        height: 67px;
        line-height: 24px;
    }

    .copyright p {
        padding: 0 40px;
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width:450px) {
    .hero__top {
        min-height: 180px;
    }

    .hero__main-text {
        margin-left: 15px;
        font-size: clamp(50px, 13vw, 70px);
        max-width: 85%;
    }

    .hero__stroke {
        left: 15%;
        top: 20px;
        font-size: clamp(80px, 20vw, 120px);
    }

    .footer__logo {
        max-width: 150px;
        align-self: center;
    }

    .footer__logo img {
        width: 100%;
        height: auto;
    }

    .footer__path {
        align-items: center;
        font-size: 24px;
    }

    .footer__path::before {
        width: 45px;
        height: 45px;
        top: -5px;
        left: -20px;
    }

    /* ----------------------- */

    .copyright p {
        padding: 0 30px;
        font-size: 12px;
    }

}

@media (max-width: 350px) {
    .hero__top {
        min-height: 160px;
    }

    .hero__main-text {
        font-size: clamp(40px, 11vw, 60px);
        margin-left: 10px;
    }

    .hero__stroke {
        font-size: clamp(70px, 18vw, 100px);
        top: 15px;
    }

    .copyright {
        height: 55px;
        line-height: 18px;
    }

    .copyright p {
        padding: 0 15px;
        font-size: 11px;
    }
}